New contact: <br>
Name: {{input type="text" value=inputName}}<br>
Occupation: {{input type="text" value=inputOccupation}}<br>
Born: {{input type="text" value=inputBorn}}<br>
<button {{action 'actionNewContact' inputName inputOccupation inputBorn}}>Send</button>
